ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border: solid rgb(37, 0, 0);
    border-radius: 10px;
}
  
ul.topnav li {
    float: left;
}
  
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 75px;
    text-decoration: none;
}
  
ul.topnav li a:hover:not(.active) {
    background-color: #ff0000;
}
  
ul.topnav li a.active {
    background-color: #04AA6D;
}
